// Colors
$olor__primary: #243034 !default; //#2e301e
$olor__secondary: #243034; //#2e301e
$olor__tertiary: #243034; //#2e301e

// Breakpoints
$breakpoint__mobile-small :	240em;
$breakpoint__mobile-large :	320em;
$breakpoint__tablet-small :	480em;
$breakpoint__tablet-large :	768em;
$breakpoint__screen-small :	1024em;
$breakpoint__screen-large :	1280em;



// // The solarized palette

// $primary-base-color		: #243034; //#2e301e
// $secondary-base-color	: #7fba28; //#7fba28
// $tertiary-base-color	: #ffa300;

// $base-color-error		: #980604;
// // $base-color-success	: #2ecc71;
// $base-color-success		: $secondary-base-color;

// $base-font-color-error : $base-color-error;
// $base-font-color-success : $base-color-success;

// $primary-font 			: arial, sans-serif;
// $secondary-font 		: 'Conv_ClassicRound-Medium',Georgia, 'Times New Roman', Times, serif;

// $default-border-radius 	: 10px;

// $background-image-default : 'http://assets.hdci.nl/registratieflow/images/structure/bg_pattern.png';
// $background-color-default : lighten($primary-base-color, 75);

// // Susy Setup ------------------------------------------------

// $total-columns	: 12;
// $column-width	: 4em;
// $gutter-width	: 0.5em;
// // $grid-padding	: $gutter-width;

// $small	: 3em;
// $medium : 47em;
// $large	: 75em;

